[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
