[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
psycopg2-binary = "*"
pydantic = "*"
requests = "*"
sshtunnel = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
bandit = "*"
black = "*"
codecov = "*"
flake8 = "*"
freezegun = "*"
isort = "*"
mkdocs-material = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}
types-freezegun = "*"

[requires]
python_version = "3.11"
