{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
<meta http-equiv="refresh" content="600">
{% endblock %}

{% block page_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>
<div class="class='container-fluid'">
    <div class="row">
        <div class="col-lg-8">
            {% if data["instances"]["live"]|length == 0 and data["instances"]["dry"]|length == 0 %}
            <div class="alert alert-info" role="alert">
                Add a FT instance to config.json to get started.
            </div>
            {% endif %}
            {% if data["instances"]["live"]|length > 0 %}
            <div class="card">
                <div class="card-header">
                    Live instances
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Instance number">#</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Strategy name">Strategy</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Strategy version" >V</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Exchange name">Exchange</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Freqtrade version">FT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Currency used for staking">Stake</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trading mode e.g. spot/futures">Mode</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current bot status">Status</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Starting capital">SC</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Number of Closed Trades">CT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trades Won">W</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trades Lost">L</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Closed Profit">CP</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Profit Factor">PF</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Days since first trade">D</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Profit %">P%</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Daily profit %">DP%</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Trades">OT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open profit">OP</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Last updated by freqdash (mins)">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in data["instances"]["live"].items() %}
                        <tr>
                            <th scope="row">{{key}}</th>
                            <td>{{value["strategy"]}}</td>
                            <td>{{value["strategy_version"]}}</td>
                            <td>{{value["exchange"]}}</td>
                            <td>{{value["ft_version"]}}</td>
                            <td>{{value["stake"]}}</td>
                            <td>{{value["trading_mode"]}}</td>
                            <td>{{value["status"]}}</td>
                            <td>{{"%.6g"|format(value["starting_capital"])}}</td>
                            <td>{{value["closed_trades"]}}</td>
                            <td>{{value["winning_trades"]}}</td>
                            <td>{{value["losing_trades"]}}</td>
                            {% if value["closed_profit"] >= 0 %}
                            <td class="table-success">
                                {% else %}
                            <td class="table-danger">
                                {% endif %}
                                {{value["closed_profit"]}}
                            </td>
                            <td>{{value["profit_factor"]}}</td>
                            <td>{{value["days_from_first_trade"]}}</td>
                            <td>{{value["total_profit_percentage"]}}%</td>
                            <td>{{value["daily_profit_percentage"]}}%</td>
                            <td>{{value["open_trades"]}}</td>
                            {% if value["open_profit"] >= 0 %}
                            <td class="table-success">
                                {% else %}
                            <td class="table-danger">
                                {% endif %}
                                {{value["open_profit"]}}
                            </td>
                            <td>{{value["last_checked"]}}</td>

                            </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            Asset allocation
                        </div>
                        <div class="card-body">
                            <div id="container1" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            Profit/loss
                        </div>
                        <div class="card-body">
                            <div id="container2" style="height: 500px"></div>
                        </div>
                    </div>
                </div>
            </div>

            {% if data["instances"]["dry"]|length > 0 %}
            {% if data["instances"]["live"]|length > 0 %}
            <br>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    Dry instances
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Instance number">#</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Strategy name">Strategy</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Strategy version" >V</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Exchange name">Exchange</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Freqtrade version">FT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Currency used for staking">Stake</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trading mode e.g. spot/futures">Mode</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current bot status">Status</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Starting capital">SC</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Number of Closed Trades">CT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Profit Factor">PF</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trades Won">W</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Trades Lost">L</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Closed Profit">CP</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Trades">OT</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open profit">OP</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Last updated by freqdash">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in data["instances"]["dry"].items() %}
                        <tr>
                            <th scope="row">{{key}}</th>
                            <td>{{value["strategy"]}}</td>
                            <td>{{value["strategy_version"]}}</td>
                            <td>{{value["exchange"]}}</td>
                            <td>{{value["ft_version"]}}</td>
                            <td>{{value["stake"]}}</td>
                            <td>{{value["trading_mode"]}}</td>
                            <td>{{value["status"]}}</td>
                            <td>{{"%.6g"|format(value["starting_capital"])}}</td>
                            <td>{{value["closed_trades"]}}</td>
                            <td>{{value["profit_factor"]}}</td>
                            <td>{{value["winning_trades"]}}</td>
                            <td>{{value["losing_trades"]}}</td>
                            {% if value["closed_profit"] >= 0 %}
                            <td class="table-success">
                                {% else %}
                            <td class="table-danger">
                                {% endif %}
                                {{value["closed_profit"]}}
                            </td>
                            <td>{{value["open_trades"]}}</td>
                            {% if value["open_profit"] >= 0 %}
                            <td class="table-success">
                                {% else %}
                            <td class="table-danger">
                                {% endif %}{{value["open_profit"]}}
                            </td>
                            <td>{{value["last_checked"]}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Open trades
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Instance number">#</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Pairing base/quote">Pair</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Leverage">L</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Side">S</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Number of entries"><i class="fa-solid fa-chevron-up"></i></th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Number of exits"><i class="fa-solid fa-chevron-down"></i></th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Rate">OR</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current Rate">CR</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current profit percentage">%</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current profit absolute">Profit</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Timestamp">Open</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trade in data["instances"]["open"] %}
                        {% if trade[9] >= 0 %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <th scope="row">{{trade[0]}}</th>
                            <td><a style="text-decoration: none;color: inherit;" target="_blank" href="{{trade[29]}}">{{trade[2]}}
                                <i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                            <td>{{"%.3g"|format(trade[21])}}x</td>
                            <td>{% if trade[22] == 0 %}L{% else %}W{% endif %}</td>
                            <td>{{"%.3g"|format(trade[27])}}</td>
                            <td>{{"%.3g"|format(trade[28])}}</td>
                            <td>{{"%.3g"|format(trade[16])}}</td>
                            <td>{{"%.3g"|format(trade[25])}}</td>
                            <td>{{"%.2f"|format(trade[26])}}</td>
                            <td>{{"%.2f"|format(trade[9])}}</td>
                            <td>{{trade[15]}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Recent trades
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Instance number">#</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Pairing base/quote">Pair</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Leverage">L</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Side">S</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Rate">OR</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Close Rate">CR</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Current profit absolute">Profit</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Open Timestamp">Open</th>
                            <th scope="col" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="Close Timestamp">Close</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trade in data["instances"]["recent"] %}
                        {% if trade[9] >= 0 %}
                        <tr class="table-success">
                            {% else %}
                        <tr class="table-danger">
                            {% endif %}
                            <th scope="row">{{trade[0]}}</th>
                            <td><a style="text-decoration: none;color: inherit;" target="_blank" href="{{trade[25]}}">{{trade[2]}}
                                <i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                            <td>{{"%.3g"|format(trade[21])}}x</td>
                            <td>{% if trade[22] == 0 %}L{% else %}W{% endif %}</td>
                            <td>{{"%.3g"|format(trade[16])}}</td>
                            <td>{{"%.3g"|format(trade[18])}}</td>
                            <td>{{"%.2f"|format(trade[9])}}</td>
                            <td>{{trade[15]}}</td>
                            <td>{{trade[17]}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var dom = document.getElementById('container1');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    option = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'center'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      itemStyle: {
        borderRadius: 10,
        borderColor: '#fff',
        borderWidth: 2
      },
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: 40,
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 1048, name: 'Search Engine' },
        { value: 735, name: 'Direct' },
        { value: 580, name: 'Email' },
        { value: 484, name: 'Union Ads' },
        { value: 300, name: 'Video Ads' }
      ]
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>

  <script type="text/javascript">
    var dom = document.getElementById('container2');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    option = {
  title: {
    text: 'Stacked Line'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['Email', 'Union Ads', 'Video Ads', 'Direct', 'Search Engine']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      name: 'Email',
      type: 'line',
      stack: 'Total',
      data: [120, 132, 101, 134, 90, 230, 210]
    },
    {
      name: 'Union Ads',
      type: 'line',
      stack: 'Total',
      data: [220, 182, 191, 234, 290, 330, 310]
    },
    {
      name: 'Video Ads',
      type: 'line',
      stack: 'Total',
      data: [150, 232, 201, 154, 190, 330, 410]
    },
    {
      name: 'Direct',
      type: 'line',
      stack: 'Total',
      data: [320, 332, 301, 334, 390, 330, 320]
    },
    {
      name: 'Search Engine',
      type: 'line',
      stack: 'Total',
      data: [820, 932, 901, 934, 1290, 1330, 1320]
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
{% endblock %}
