{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
        </button>
    </div>
</div>
{% for database in data["databases"] %}
<h3>{{database}}</h3>
<div class="pt-3 pb-2 mb-3 border-bottom">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Open trades
                    </div>
                    <div class="accordion accordion-flush" id="accordionTrades">
                        {% for trade in data["databases"][database]["open_trades"] %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading{{trade[3]}}">
                                <button class="accordion-button p-2 collapsed {% if trade[7] < 0 %}bg-danger bg-opacity-25{% endif %}"
                                        type="button" data-bs-toggle="collapse" style="color: inherit;"
                                        data-bs-target="#flush-collapse-{{database}}-{{trade[3]}}" aria-expanded="false"
                                        aria-controls="flush-collapse-{{database}}-{{trade[3]}}">
                                    {{trade[3]}} {{trade[7]}}%
                                </button>
                            </h2>
                            <div id="flush-collapse-{{database}}-{{trade[3]}}" class="accordion-collapse collapse"
                                 aria-labelledby="flush-heading-{{database}}-{{trade[3]}}"
                                 data-bs-parent="#accordionFlush-{{database}}-{{trade[3]}}">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-secondary d-flex justify-content-around">
                                        <a href="{{trade[8]}}" style="text-decoration: none;" target="_blank">
                                            <span class="badge bg-secondary position-relative me-3">{{trade[1]}}
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                                {{trade[2]}}
                                                <span class="visually-hidden">Market type</span>
                                              </span>
                                            </span>
                                        </a>
                                        <span class="badge text-bg-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{trade[0][0]}}">{{trade[0][1]}}d {{trade[0][2]}}h {{trade[0][3]}}m</span>
                                    </li>
                                    <li class="list-group-item list-group-item-secondary">{{trade[5]}} @ {{trade[4]}}
                                        ({{trade[6]}})
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    {{data["databases"][database]}}}
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}
