<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if data['page'] == 'index' %}active{% endif %}" aria-current="page" href="#">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Databases</span>
        </h6>
        <ul class="nav flex-column mb-auto">
            {% for database in data["databases"] %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text" class="align-text-bottom"></span>
                    <i class="fa-solid fa-database"></i> {{database}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
